---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Oh, finally a visitor! Welcome, visitor! I'm <span class="text-gradient">Missy. Just Missy.</span></h1>
		<p class="instructions">
			I like learning and getting smart. Do you? <label class="container">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label> <br />
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://codehs.com/lms/assignment/95172982/"
				title="Want to go back to school with me?"
				body="Take a CS or web dev course with me, I promise you'll get an A!"
			/>
			<Card
				href="https://www.khanacademy.org/join/VMYNR8RS/"
				title="Hour of Code"
				body="Or, if you don't like learning, check out Hour of Code and form a team with me."
			/>
			<Card
				href="https://messywebdev.hashnode.dev/"
				title="Visit my blog"
				body="It's not super interesting."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Chat"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #6666ff, #6667ab);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 10s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #ccccff;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
